{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/static/css/index.css" />
{% endblock header %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
    <div class="title">
        <h1>List of All Genres</h1>
    </div>

    <div class="page_sect ps_one">
        <div class="col_wrapper">
            <div class="c1">
                <table>
                {% for genre in genres %}
                    <tr>
                        <td>
                            <a href="/genre/view/{{ genre.key }}">{{ genre }}</a>
                        </td>
                        <td>
                            <a class="delete" style="float: right;" href="/genre/delete/{{ genre.key }}">X</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}