<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EDMap: History of EDM</title>

    <link href="/../static/css/base.css" rel="stylesheet"/>
    {% block header %}
    {% endblock header %}

    {% block scripts %}
    {% endblock scripts %}
</head>
<body>
    <div id="header">
        <a href="/"><img id="logo" src="/static/img/edmap_logo_wh_md.png"></a>
        <div class="hl_wp">
            <ul class="hl">
                <li class="hl_item">
                        <a class="hl_itema" href="/">Home</a>
                </li>
                <li class="hl_item">
                    <a class="hl_itema" href="/all">All</a>
                </li>
                <li class="hl_item">
                    <a class="hl_itema" href="/about">About</a>
                </li>
                <li class="hl_item">
                    <a class="hl_itema" href="/genre/create">Create</a>
                </li>
            </ul>
        </div>
    </div>

   {% block content %}
   {% endblock content %}
</body>
</html>